@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --black--: #000000;
  --white--: #ffffff;
  --light-grey--: #f1f1f1;
}

.title-section {
  color: var(--black--);
  text-align: center;
  font-size: 40px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 54px;
  text-transform: uppercase;
}

.text-section {
  color: var(--black--);
  text-align: center;
  font-size: 13px;
  font-family: Inter;
  line-height: 28.125px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: 400;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  position: relative;
  background-color: var(--white--);
}

.write {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  background: #607980;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(182, 180, 180, 0.5);
          box-shadow: 0px 0px 3px 0px rgba(182, 180, 180, 0.5);
  padding: 12px 18px 12px 18px;
}

.write p {
  color: var(--white--);
  text-align: center;
  font-size: 18px;
  font-family: Raleway;
  margin-left: 8px;
}

.container {
  position: relative;
  width: 1920px;
  margin: 0 auto;
}

.title {
  color: var(--black--);
  font-size: 28px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 38.5px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 34px;
  margin-bottom: 20px;
}

.header {
  position: sticky;
  top: 0px;
  width: 100%;
  height: auto;
  background-color: var(--white--);
  z-index: 9;
}

.header__menu {
  width: 100%;
  height: auto;
  background-color: var(--light-grey--);
  padding: 12px 0px 8px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.header__item {
  color: var(--black--);
  text-align: center;
  font-size: 13px;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
}

.home {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__bg {
  position: relative;
  width: 100%;
  height: auto;
}

.home__bg--mini {
  display: none;
}

.home__title {
  color: var(--black--);
  text-align: center;
  font-size: 64px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 90px;
  text-transform: uppercase;
  margin-top: 44px;
  margin-bottom: 23px;
}

.home__text {
  color: var(--black--);
  text-align: center;
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  line-height: 33.4px;
}

.about {
  position: relative;
  width: 100%;
  height: auto;
  background-color: var(--light-grey--);
  margin-top: 143px;
}

.about__block {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 250px;
  gap: 5px;
}

.about__col:first-child {
  position: relative;
  width: 458px;
}

.about__title {
  margin-top: 149px;
  margin-bottom: 50px;
}

.about__text {
  margin-bottom: 48px;
}

.about__link {
  color: var(--black--);
  font-size: 13px;
  font-family: Inter;
  font-weight: 400;
  line-height: 28.125px;
}

.about__image {
  display: block;
  width: auto;
  height: auto;
  margin-right: -20px;
}

.about__image--mini {
  display: none;
  width: auto;
  height: auto;
}

.program {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 124px;
}

.program__subheader {
  color: var(--black--);
  text-align: center;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 31.5px;
  margin-top: 25px;
  margin-bottom: 141px;
}

.program__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 750px;
}

.program__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33.33%;
  height: auto;
  background-color: var(--light-grey--);
  overflow: hidden;
}

.program__item {
  height: 375px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program__image {
  width: auto;
  height: 375px;
}

.program__header {
  color: var(--black--);
  text-align: center;
  font-size: 22px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 31.02px;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.program__text {
  color: var(--black--);
  text-align: center;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 28.125px;
}

.contact {
  position: relative;
  width: 100%;
  height: auto;
  background-color: var(--light-grey--);
  padding: 63px 0px 65px 0px;
}

.contact__address {
  color: var(--black--);
  text-align: center;
  font-size: 13px;
  font-family: Inter;
  font-weight: 400;
  line-height: 28.125px;
  margin-top: 29px;
  margin-bottom: 55px;
}

.contact p {
  text-align: center;
}

.contact p:last-child {
  margin-top: 58px;
}

.contact__mail {
  color: var(--black--);
  text-align: center;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 28.125px;
}

.contact__tel {
  color: var(--black--);
  text-align: center;
  font-size: 13px;
  font-family: Inter;
  font-weight: 400;
  line-height: 28.125px;
}

.footer {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.footer__img {
  width: 100%;
}

.footer__img--mini {
  display: none;
}

.footer__title {
  color: var(--black--);
  text-align: center;
  font-size: 22px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 31.02px;
  margin-top: 40px;
}

.footer__mail {
  text-align: center;
  margin-top: 30px;
}

.footer__text {
  color: var(--black--);
  text-align: center;
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
  line-height: 25.06px;
  margin-top: 50px;
}

@media (max-width: 1920px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }

  .program__block {
    margin-left: -20px;
    width: calc(100% + 40px);
  }

  .footer__img {
    width: calc(100% + 40px);
    margin-left: -20px;
  }
}

@media (max-width: 1801px) {
  .about__block {
    padding-left: 200px;
  }
}

@media (max-width: 1590px) {
  .about__block {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: 20px;
    gap: 40px;
  }
}

@media (max-width: 1498px) {
  .about__block {
    gap: 100px;
  }

  .about__image {
    display: none;
  }

  .about__image--mini {
    display: block;
    margin-right: -20px;
  }
}

@media (max-width: 1401px) {
  .about__block {
    padding-left: 130px;
  }
}

@media (max-width: 1220px) {
  .about__block {
    padding-left: 20px;
  }
}

@media (max-width: 1110px) {
  .about__block {
    gap: 50px;
  }
}

@media (max-width: 1060px) {
  .about__block {
    gap: 20px;
  }
}

@media (max-width: 1030px) {
  .about__block {
    gap: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 1025px) {
  .home__bg {
    display: none;
  }

  .home__bg--mini {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
  }

  .footer__img {
    display: none;
  }

  .footer__img--mini {
    display: block;
    width: calc(100% + 40px);
    margin-left: -20px;
  }
}

@media (max-width: 1020px) {
  .about__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
  }

  .about__col:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0 20px;
  }

  .about__title {
    margin-bottom: 30px;
  }

  .about__text {
    margin-bottom: 20px;
  }

  .about__image {
    display: block;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: 0;
    margin-top: 30px;
  }

  .about__image--mini {
    display: none;
  }
}

@media (max-width: 941px) {
  .program__block {
    min-height: 750px;
    max-height: 5000px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .program__col {
    width: 100%;
  }

  .program__item {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .program__image {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    height: auto;
    width: 100%;
  }
}

@media (max-width: 773px) {
  .program__title {
    font-size: 30px;
  }
}

@media (max-width: 720px) {
  .home__title {
    font-size: 50px;
  }
}

@media (max-width: 516px) {
  .home__title {
    font-size: 40px;
    line-height: 60px;
  }
}

@media (max-width: 501px) {
  .title {
    font-size: 20px;
  }
}

@media (max-width: 468px) {
  .contact__title {
    font-size: 30px;
  }
}

@media (max-width: 424px) {
  .home__title {
    font-size: 30px;
    line-height: 50px;
  }
}

@media (max-width: 376px) {
  .write p {
    display: none;
  }

  .write {
    padding: 18px;
    border-radius: 50px;
  }
}